body {
    background: #000;
    margin: 0;
    position: relative;
    font-size: large;
    font-size: 20px;
    overflow-x: hidden;
    height: 500px;
    overflow-x: hidden;
}

.h1 {
    color: white;
    position: absolute;
    width: inherit;
    top: 200px;
    left: 400px;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}


/* h2 {
color: white;
position: absolute;
width: inherit;
height: inherit;
top: 200px;
left: 400px;
} */